body
{		
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
}


personInfo1
{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

personInfo2
{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form
{
}

#header 
{
    width: 100%;
	top:50px;
    position: relative;
    text-align: center;
}

#header .close {
	background: url(images/crumbs.gif) no-repeat right center;
	padding: 5px 15px 5px 5px;
	position: fixed;
	top: 8%;
	right: 0%;
	font: 71%/165% "Lucida Grande", Lucida, Verdana, sans-serif;
	text-decoration: none;
}


/* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}
.button
{
	padding: 5px;
	color: #ffffff;
	background-color: #3399FF;
	border: none;
	border-radius: 5px;
	width: 80px;
	float:left;
}

.button:hover
{
	color: #FFFFFF;
	background-color: #C7C7C7;
}


