@charset "utf-8";
/* CSS Document */

body 
{
    background-image: url(images/texture.png);
	background-repeat: repeat;
}

form
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#FFF;
}

h1
{
	color:#FFF;
}

h2
{
	color:#FFF;
}

menu 
{
	color:#FFF;
	width: 50%;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
}

#div
{
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#FFF;
  width:40%;
}
